{% extends "base.html" %}
{% block content %}


  <div style="background-color: #015dca;padding-bottom: 0; height:40px;">
    
    <p style="text-align: left;padding-left: 90px;">
    <img src="https://css.mintic.gov.co/mt/mintic/img/header_govco.png" alt="Gov Co" style="max-height: 20px;">
    </p>
  </div> 
    <p id="miFecha" style="text-align:right;padding-right: 150px; color:rgb(185, 180, 180);"></p>
      
    <script>
      const hoy = new Date();
      const opciones = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      document.getElementById("miFecha").innerText = hoy.toLocaleDateString('es-ES', opciones);
    </script>
    <table >
      <tr style="text-align: left;">
      <td style="text-align: left;"><img src="{{url_for('static',filename='images/senalogo.png')}}"> </td>
      <td> <h1 style="text-align: left;" class="sena-sombra">EVALUACION DE INSTRUCTORES V1.0.0.1.</h1></td>
    </tr>
    </table>
  <p ></p>
  </div>
  {% endblock content %}  

   
      
        
    