<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
   <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/favicon.ico')}}">
   
   <HTML>
<HEAD>
  <TITLE>EVALUACION DE INSTRUCTORES</TITLE>
</HEAD>
<FRAMESET cols="90%" frameborder=0 noResize = true frameborder=1>
<FRAMESET rows="22%,5%,*">
   <FRAME src="/banner" name=banner scrolling=no>
      <FRAME src="/menu" name=banner scrolling=no>
         <FRAME src="/login" name=centro scrolling=yes>   
</FRAMESET>
      <P>Este conjunto no puede desplegar marcos
   </NOFRAMES>
</FRAMESET>
</HTML>